* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#f987eb, #fbacf1) ;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    font-family: myFont;

}
@font-face {
    font-family: myFont;
    src: url(Cookiemonster-gv11.ttf);

}
    

header {
    background-color: hsl(320, 48%, 50%);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition-duration: 0.5s;
}




hr{
    height: 6px;
    width: 3px;
    margin: 10px;
    background-color: black;

}

#nav{
    display: flex;
    justify-content: center;
}
#nav a{
    background-color: #f987eb;
    text-align: center;
    border: 2px solid black;
}

.closeButt, .dropdown-btn {
    width: max-content;
    padding: 5px 7px;
    background-color: purple;
    color: #f987eb;
    border-color: #f987eb;
    border-radius: 5px;
}

.dropdown-btn {
    display: none;
    position: absolute;
    bottom: -20px;
    transition-delay: 2s;
}

.portfolios {
    margin-top: 130px;
    display: flex;
    gap: 20px;
    align-items: start;
}

.portfolios section {
    flex: 1;
}

.pf-img {
    width: 400px;
    height: 400px;
}

.ani-pf {
    background: linear-gradient(rgb(149, 7, 201),rgb(27, 158, 252));;
    padding: 10px;
    border-radius: 20px;
    font-size: 28px;
}

.ani-pf h3 {
    color: rgb(241, 205, 245);
}

.ani-pf-content {
    background-color: rgb(245, 228, 248);
    margin: 10px;
    border-radius: 10px;
}
.harley-pf-content{
    border-radius: 10px;
    background-color: white;
    margin: 20px;

}

.harley-pf{
    background-image: linear-gradient(red,blue);
    border-radius: 15px;
    text-align: center;
    font-size: 28px;
    color: yellow;
}

.harley-pf h3{
    color: yellow;
}

.harley-pf a{
    color: red;
}

.link-parent {
    padding: 10px;
    border: 1px solid purple;
}

#roll a{
    border: 1px solid black;
    padding-top: 100px;
}